<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulário de upload de ficheiro CNAB</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
<main>
    <section class="container">
        <a href="/transacao/index" class="btn-a">Ver lista de movimento importados</a>
        <br>
        {% if success_message %}
        <h3> {{success_message}} </h3>
        {% endif %}

        <form class="form-upload" action="" method="POST" enctype="multipart/form-data">
            <h2>Faça o upload de seu ficheiro CNAB</h2>
            <hr/>
            <br/>
            {%csrf_token%}
            <div class="coluna">
                {% if error_msg %}
                <p style="color:red;background-color:white;padding: 10px"> * {{error_msg}} </p>
                <br>
                {% endif %}
                <input required type="file" accept=".txt" id="file_cnab" name="file_cnab"/>
                <input type="submit" value="Carregar">
            </div>
        </form>
    </section>
</main>
</body>
</html>